<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos en Tiempo Real</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        socket.on('updateProducts', (product) => {
            const productList = document.getElementById('productList');
            const li = document.createElement('li');
            li.textContent = `${product.title} - $${product.price}`;
            productList.appendChild(li);
        });

        socket.on('removeProduct', (productId) => {
            const productList = document.getElementById('productList');
            const items = productList.getElementsByTagName('li');
            for (let i = 0; i < items.length; i++) {
                if (items[i].dataset.id == productId) {
                    productList.removeChild(items[i]);
                    break;
                }
            }
        });
    </script>
</head>
<body>
    <h1>Lista de Productos en Tiempo Real</h1>
    <ul id="productList">
        {{#each products}}
            <li data-id="{{this.id}}">{{this.title}} - ${{this.price}}</li>
        {{/each}}
    </ul>
</body>
</html>
